<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Briefing Gallore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <h1>Emerging News</h1>
    {% for new, img, des, pubAt,url in context%} 
    <img src="{{img}}" alt="">
    <h3>News: </h3>
    <p>{{new}}</p>
    <h4>Description</h4>
    <p>{{des}}</p>
    <h4>Published at</h4>
    <p>{{pubAt}}</p>
    <a href="{{url}}" target="_blank" class="btn btn-outline-dark">Read More</a>

    {%endfor%}

</body>
</html>